.introducao-sobre{
  background-image: url("../img/bg-sobre.jpg") ;
  background-size: cover;
  padding: 20px 0
  
  
}

.introducao-sobre h1{
  margin-top: 25px;
}

.missao_sobre{
  padding-top: 77px;
  text-align: left;
}

.coluna-1-sobre{
  padding-right: 80px;
}

.coluna-2-sobre li{
  line-height: 30px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.missao_sobre img{
  width: 940px;
  height: 320px;
  margin: 50px auto 20px auto;
}


.qualidade_lista{
  margin-bottom: 50px;
  
}

